
@{
    ViewBag.Title = "Index";
}

<h2>Mentor Tasks</h2>
<br>
<h4>Assignment 1 Using DAL and BLL</h4>
<br>
<div>
    Task 1 -- <a href="/AddUsers">Add User</a>
</div>
<br>
<div>
    Task 2 -- <a href="/AddProjects">Add Project</a>
</div>
<br>
<h4>Assignment 2 Using DALEntityEF and BLL</h4>
<br>
<div>
    Task 3 -- <a href="/AddUserEF">Add User EF</a>
</div>
<br>
<div>
    Task 4 -- <a href="/AddProjectEF">Add Project EF</a>
</div>